<!doctype html>
<html lang="en" ng-app="sgApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sounder Schedule Guide</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <!--<link rel="stylesheet" href="css/animations.css">-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>

    <script src="js/geo_distance.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <!--<script src="js/animations.js"></script>-->

    <script type="text/javascript">
        /*!
         * IE10 viewport hack for Surface/desktop Windows 8 bug
         * Copyright 2014-2015 Twitter, Inc.
         * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
         */

        // See the Getting Started docs for more information:
        // http://getbootstrap.com/getting-started/#support-ie10-width

        (function () {
            'use strict';

            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style')
                msViewportStyle.appendChild(
                        document.createTextNode(
                                '@-ms-viewport{width:auto!important}'
                        )
                )
                document.querySelector('head').appendChild(msViewportStyle)
            }

        })();
    </script>
</head>
<body ng-controller="sgCtrl">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="pull-right">
                <button class="navbar-btn btn-locate btn btn-info" ng-click="geoloc.doLoc();">
                    <i class="glyphicon glyphicon-map-marker"></i>
                </button>
                <button class="navbar-btn btn-watch btn btn-info" ng-click="updateWatch();">
                    <i class="glyphicon glyphicon-time"></i>
                </button>
            </div>
            <a class="navbar-brand" href="#">SounderGuide</a>

        </div>
    </div>
</nav>

<div class="container">
    <select id="station-list" class="form-control" ng-model="watching.station" ng-options="station.Station for station in stations">
        <option value="">SELECT A STATION</option>
    </select>
    <br />
</div>

<div ng-view></div>

<div class="container">
    <div class="panel panel-output panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
        </div>
        <div class="panel-body">
            <pre id="js-output"></pre>
        </div>
    </div>
</div>

</body>
</html>